---
layout: page
title: "This is the title for you homepage"
date: 2013-08-16 23:48
comments: true
show_title: false
sidebar: false
hero_unit: true
is_homepage: true
---

<div class="grid-wrapper">
  <div class="grid">
    <div class="grid__item one-third lap-one-whole palm-one-whole usp">
      <div class="grid">
        <div class="grid__item one-whole lap-one-third">
          <span class="icon">
            <i class="icon-book"></i>
          </span>
        </div>

        <div class="grid__item one-whole lap-two-thirds">
          <h2 class="title">Skills</h2>
          <hr>
          <h3>Practical Skills</h3>
          <p>Object-Oriented Design/Programming, Aspect-Oriented Programming, Sofware Patterns, Framework Design, Architecting of Enterprise Software and Enterprise Integrations. Coherent Specificaiton Design using lightweight formal methods and model verifications.</p>
          <h3>Theoretical Skills</h3>
          <p>Effective Algorithm Design especially on Combinatorial Optimizations, Distributed and Parallel Systems, Graph algorithms, Machine Learning Algorithms. </p>
        </div>
      </div>
    </div>

    <div class="grid__item one-third lap-one-whole palm-one-whole usp">
      <div class="grid">
        <div class="grid__item one-whole lap-one-third">
          <span class="icon">
            <i class="icon-code"></i>
          </span>
        </div>

        <div class="grid__item one-whole lap-two-thirds">
          <h2 class="title">Languages</h2>
          <hr>
          <h3>Daily used</h3>
          <p>Java, Scala, Ruby</p>
          <h3>Experienced</h3>
          <p>Erlang, Haskell, Matlab(octave), R, Alloy, Javascript(jQuery), CSS(LESS,SaSS), HTML5</p>
          <h3>Interest</h3>
          <p>Ocaml, Clojure</p>
          <h3>Used in the past</h3>
          <p>C,  C++,  PHP,  perl</p>
          <br />
        </div>
      </div>
    </div>

    <div class="grid__item one-third lap-one-whole palm-one-whole usp">
      <div class="grid">
        <div class="grid__item one-whole lap-one-third">
          <span class="icon">
            <i class="icon-user"></i>
          </span>
        </div>

        <div class="grid__item one-whole lap-two-thirds">
          <h2 class="title">MeRIs</h2>
          <hr>
          <section class="social">
            {% include asides/social_list.html %}
          </section>
        </div>
      </div>
    </div>

    <div class="grid__item one-third lap-one-whole palm-one-whole usp">
      <div class="grid">
        <div class="grid__item one-whole lap-one-third">
          <span class="icon">
            <i class="icon-github"></i>
          </span>
        </div>

        <div class="grid__item one-whole lap-two-thirds">
          <h2 class="title">Repos</h2>
          <hr>
          {% if site.github_user %}
          <section id="github-repos" style="text-align:left" class="aside-module grid__item one-whole lap-one-half">
            {% include asides/github_repolist.html %}
          </section>
          {% endif %}
        </div>
      </div>
    </div>

    <div class="grid__item one-third lap-one-whole palm-one-whole usp">
      <div class="grid">
        <div class="grid__item one-whole lap-one-third">
          <span class="icon">
            <i class="icon-signal"></i>
          </span>
        </div>

        <div class="grid__item one-whole lap-two-thirds">
          <h2 class="title">Social Infulence</h2>
          <hr>
          <section>
          <h3>Klout Score</h3>
          {% include asides/klout_badge.html %}
          </section>
          <section>
            <h3>Coderwall Badges</h3>
            {% include asides/coderwall_badges.html %}
          </section>
        </div>
      </div>
    </div>

    <div class="grid__item one-third lap-one-whole palm-one-whole usp">
      <div class="grid">
        <div class="grid__item one-whole lap-one-third">
          <span class="icon">
            <i class="icon-twitter"></i>
          </span>
        </div>

        <div class="grid__item one-whole lap-two-thirds">
          <h2 class="title">Recent Tweets</h2>
          <hr>
          {% include asides/twitter_widget.html %}
        </div>
      </div>
    </div>
  </div>
</div>